@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hedvig Regular";
  src: url("/fonts/Hedvig_Letters_Sans/HedvigLettersSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hedvig Regular";
}

p {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #F0F8FA;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #CDCDCD;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

.matter-crossmint-button {
  background-color: white !important;
  border: 1px solid #CDCDCD !important;
  box-shadow: none !important;
  border-radius: 9999px !important;
  width: 327px !important;
  height: 56px !important;
  position: relative;
}

.matter-crossmint-button > img {
  display: none;
  position: relative;
}

.matter-crossmint-button::after {
  background-image: url("/images/credit_pay.svg");
  background-size: contain;
  background-repeat: no-repeat !important;
  position: absolute;
  content: "";
  width: 100%;
  height: 24px;
  z-index: 10 !important;
  left: 45px !important;
}

.matter-crossmint-button:hover {
  opacity: 1 !important;
}

.matter-crossmint-button > span {
  color: black !important;
  font-family: 'Hedvig Regular';
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 120% !important;
}

.trending-number {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

